*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #0c1022;
    color: #fff;

}

.header{
    position: fixed;
    top: 0;
    left: 10;
    margin-right: 20;
    width: 100%;
    padding: 45px 10%;
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items:center;
    z-index: 300;
}

a{
    text-decoration: none;
}


.navbar a {
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 55px;
    cursor: pointer;
      
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    



}

.logo{
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(45deg, #f06, #3cf);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
    text-decoration: none;
    nav-left: 5%;
    margin-left: -10px;
}


nav ul li{
    display: inline-flex;
    padding: 10px 20px;
}

nav ul li a{
    color:indigo;
    position: relative;
    padding: 5px 0;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(220, 20, 110);

}

nav ul li a::after{
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 5px;
    background:  rgb(220, 20, 110);
    transition: .3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.detail{
    position:absolute;
    top: 40%;
    justify-content: space-between;
    left: 0.0001%;
    right: 15%;
    padding: 0 9%;
    margin-left: -20px;


}

.detail h1{

    font-size: 48px;
    font-weight:600;
    left: 0.5%;
}


.detail p{
    color:darkgrey;
    font-size: 36px;
    margin: 20px 0 40px;
    margin-top: 45px;
    margin-bottom: 35px;
    margin-left: 0.5%;
}

.image img{
    display: block;
    width: 100%;
    height: auto;
}

.image{
    width: 30%;
    height:80%;
    position:fixed;
    bottom: 0;
    right: 05px;
    
}
